<!-- Local data for a single song display -->
<div *ngIf="songData">
  <p class="name"><strong>Header: </strong>{{ songData.header }}</p>
  <p class="name"><strong>Title: </strong>{{ songData.title }}</p>
  <p class="name"><strong>Artist: </strong>{{ songData.artist }}</p>
  <p class="name"><strong>Album: </strong>{{ songData.album }}</p>
  <p class="name"><strong>Year: </strong>{{ songData.year }}</p>
  <p class="name"><strong>Comment: </strong>{{ songData.comment }}</p>
  <p class="name"><strong>zeroByte: </strong>{{ songData.zeroByte }}</p>
  <p class="name"><strong>Track: </strong>{{ songData.track }}</p>
  <p class="name"><strong>Genre: </strong>{{ songData.genre }}</p>
  <br />

  <h3>Reviews</h3>
  <hr />

  <div *ngIf="songData.review.length > 0">
    <ul *ngFor="let single of songData.review">
      <p class="name"><strong>Username: </strong>{{ single.username }}</p>
      <p class="name"><strong>Rating: </strong>{{ single.rating }}</p>
      <p class="name"><strong>Comment: </strong>{{ single.comment }}</p>
      <hr />
    </ul>
  </div>

  <div *ngIf="songData.notice.length > 0">
    <h3>Copyright Strike</h3>
    <hr />

    <ul *ngFor="let single of songData.notice">
      <p class="name">
        <strong>Date Request Received: </strong>{{ single.dateRec }}
      </p>
      <p class="name">
        <strong>Date Notice Sent: </strong>{{ single.dateSent }}
      </p>
      <p class="name">
        <strong>Date Dispute Received: </strong>{{ single.dateDisRec }}
      </p>
      <hr />
    </ul>
  </div>
</div>

<!-- For enire list of songs on home page -->
<div *ngIf="song">
  <div *ngIf="song.isVisible">
    <li>
      <a href="listing/{{ song._id }}">{{ song.title }}</a>
      <br />
      <a href="listing/{{ song._id }}"
        ><em>{{ song.artist }}</em></a
      >
    </li>
  </div>
</div>

<!-- To set visibility on display page -->
<div *ngIf="songDisplay">
  <li>
    {{ songDisplay.title }}
    <br />
    <em>{{ songDisplay.artist }}</em>
    <br />
    <p>Visible: {{ songDisplay.isVisible }}</p>
  </li>
</div>
