<app-about></app-about>

<hr />

<h2>Update Privacy Policy</h2>

<form (submit)="onPriv()">
  <div class="form-group">
    <input
      style="height: 100px;"
      type="text"
      class="form-control"
      placeholder="Create new policy: "
      [(ngModel)]="privacy"
      name="privacy"
    />
    <br />
    <input type="submit" class="btn btn-primary" value="Update" />
  </div>
</form>

<hr />

<h2>Update DMCA Policy</h2>

<form (submit)="onDmca()">
  <div class="form-group">
    <input
      style="height: 100px;"
      type="text"
      class="form-control"
      placeholder="Update DMCA policy: "
      [(ngModel)]="dmca"
      name="dmca"
    />
    <br />
    <input type="submit" class="btn btn-primary" value="Update" />
  </div>
</form>
