<h1>Add a Review</h1>

<ul *ngFor="let song of list">
  <app-listing [song]="song"></app-listing>
  <br />
  <a href="current/{{ song._id }}">Add review</a>
  <hr />
  <!--
  <form (submit)="onSignUp()">
    <div class="form-group">
      <label>Username</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="username"
        name="email"
        required
      />
    </div>

    <div class="form-group">
      <label>Rating</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="rating"
        name="rating"
        required
      />
    </div>

    <div class="form-group">
      <label>Comment</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="comment"
        name="comment"
        required
      />
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>
--></ul>
